ion-header {
  --background: #ff6b35; // fondo retro naranja
  color: #fff;
  text-shadow: 1px 1px #000;
  box-shadow:
    0 0 0 2px #000,
    0 0 0 4px #fff;
}

ion-toolbar {
  font-family: "Courier New", monospace;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.2em;
}

ion-title {
  text-align: center;
}

ion-buttons ion-button {
  --background: #000;
  --color: #fff;
  --border-radius: 4px;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
  transition: transform 0.1s steps(1);
  margin-right: 25px;
}

ion-buttons ion-button:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-2px);
}

/* ===== Contenido ===== */
ion-item {
  --background: transparent;
  font-family: "Courier New", monospace;
  color: black;
  margin-top: 15px;
  border-bottom: 2px solid gray;
}

ion-label {
  font-weight: bold;
//   text-shadow: 1px 1px #000;
}

ion-input {
  color: black;
  font-weight: bold;
  text-shadow: 1px 1px #000;
}

/* ===== Botones ===== */
.botones {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

ion-button {
  --background: #000;
  --color: #fff;
  --border-radius: 5px;
  font-family: "Courier New", monospace;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow: 0 0 0 2px #000, 0 0 0 4px #fff;
  transition: transform 0.1s steps(1);
}

ion-button:hover {
  background: #fff;
  color: #000;
  transform: translateY(-2px);
}
