<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="cards-container">
    <div class="credential-card">
      <ion-item>
        <ion-label position="stacked">Nombre de la clave</ion-label>
        <ion-input [(ngModel)]="clave.account_name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Usuario</ion-label>
        <ion-input [(ngModel)]="clave.username"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña</ion-label>
        <ion-input [(ngModel)]="clave.password_encrypted" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">URL</ion-label>
        <ion-input [(ngModel)]="clave.url"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Notas</ion-label>
        <ion-input [(ngModel)]="clave.notes"></ion-input>
      </ion-item>

      <ion-button expand="block" (click)="guardar()">Guardar</ion-button>
      <ion-button expand="block" (click)="cerrar()">Cancelar</ion-button>

    </div>
  </div>
</ion-content>
